form
{
  align-self: center;    
}
.input_field
{
    width: 15%;
    margin-top:2%;
}
.input_field > label
{
    font-weight: bolder;
}

.from_text
{
    margin-top: 5vh;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

 