.input_field {
  width: 15%;
  margin-top: 2%;
}

form {
  width: 1200px;
  margin: 0 auto;
}

.input_field > label {
  font-weight: bolder;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.from_text {
  margin-top: 5vh;
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
}

